#header {padding-bottom:70px; border-bottom:1px solid #d3d3d3; }
#header .logo { display:inline-block; color: blue; font-size: 40px; font-weight:800 ; }
#header .left { display:inline-block; float: left; }
#header .right { display:inline-block; float: right; margin:10px; }
#header .service {  font-weight:500; display:inline-block; margin: 3px 40px 3px 70px } 
#header .developer {  font-weight:500; display:inline-block; margin: 3px 40px } 
#header .customerService { font-weight:500; display:inline-block; margin:3px 40px}
#header #loginButton {  padding:10px 30px; border-radius:8px; border:1px solid #d3d3d3; background-color:white; margin:0px 10px }

#loginPage .content { text-align: center; padding:200px 730px;}
#loginPage .content .h1  { margin-bottom: 50px ;}
#loginPage .footer {text-align: center;}
#loginPage .content #userId { width: 450px; height: 40px; margin-bottom:20px; border-radius: 4px; border:1px solid #d3d3d3}
#loginPage .content #passwd { width: 450px; height: 40px; margin-bottom:20px; border-radius: 4px; border: 1px solid #d3d3d3;}
#loginPage .content .checkbox {text-align:left; margin-bottom:20px;}
#loginPage .content #loginBox {width: 450px; height: 40px; margin-bottom:20px; background-color: rgb(5, 80, 243); color: white; border-radius: 8px;}
#loginPage .footer {border:1px solid #d3d3d3; width:520px; padding:5px 0px; position:absolute; left:37%}
#loginPage .footer #stopBox { padding:8px 15px; border-radius:25px; color: white; background-color: rgb(10, 62, 235);}

#joinPage .content { text-align: center; padding:200px 730px;}
#joinPage .content .h1  { margin-bottom: 50px ;}
#joinPage .footer {text-align: center;}
#joinPage .content #userId { width: 450px; height: 40px; margin-bottom:20px; border-radius: 4px; border:1px solid #d3d3d3}
#joinPage .content #passwd { width: 450px; height: 40px; margin-bottom:20px; border-radius: 4px; border: 1px solid #d3d3d3;}
#joinPage .content .checkbox {text-align:left; margin-bottom:20px;}
#joinPage .content #loginBox {width: 450px; height: 40px; margin-bottom:20px; background-color: rgb(5, 80, 243); color: white; border-radius: 8px;}
#joinPage .footer {border:1px solid #d3d3d3; width:520px; padding:5px 0px; position:absolute; left:37%}
#joinPage .footer #stopBox { padding:8px 15px; border-radius:25px; color: white; background-color: rgb(10, 62, 235);}


